h1 {
    font-size: 32px;
    text-align: center;
    font-family: tahoma, sans-serif;
    color: #000000;
    
}
img {
    width: 190px;
    height: auto;
    display: block;
    margin: 0 auto;
    
}

h2 {
    font-size: 24px;
    text-align: center;
    font-family: tahoma, sans-serif;
    color: #000000;
    
}

p {
    font-size: 15px;
    text-align: center;
    font-family: tahoma, sans-serif;
    width: 930px;
    margin: 15px auto 30px auto;
    
}


a {
  background-color: #49B970;
  color: white;
  font-weight: bold;
  padding: 10px 30px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  text-decoration: none;
  display: block;
  width: max-content;
  margin: 0 auto;
  font-family: tahoma;
  font-size: 16px;
}

h3 {
    font-size: 18px;
    text-align: center;
    font-family: tahoma, sans-serif;
    color: #000000;
    
}

body {  
    background-color: #F5F5F5;
}

span {
    font-size: 14px;
    text-align: center;
    font-family: tahoma, sans-serif;
    font-weight: bold;
}

div {
  border-bottom: 1px solid #D5D5D5;
  padding-bottom: 20px;
  margin-bottom: 20px;
}

div:last-of-type {
  border-bottom: none;
  margin-bottom: 0;
  padding-bottom: 0;
}